
<button style="margin-top: 2%; margin-bottom: 2%" type="button" class="btn btn-success btn-block" [routerLink]="['/users/createPost']">Create Post</button>

<h1 align="center" style="font-size: 4vmin">Click on Post to Edit or Delete</h1>
<div class="container" *ngFor="let post of posts">
  <div class="card border-success mb-3 clickable" [routerLink]="['/users/editPost/', post.postID]" style="max-width: 30vm;">
    <div class="card-header" style="font-size: 3vmin">{{post.postTitle}}</div>
    <div class="card-body">
      <h4 class="card-title">{{post.postSummary}}</h4>
      <p class="card-text">{{post.postContent.substring(0, 100) + '...'}}</p>
    </div>
  </div>
</div>
