
<button class="btn btn-block btn-primary" style="margin-top: 2%; margin-bottom: 2%" [routerLink]="['/post/', model.postID]">View Post</button>

<div class="container">
  <div [hidden]="!creator || deleted">
    <h1>Edit Post Form</h1>
    <form (ngSubmit)="onUpdate()" #postForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="model.postTitle" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Title is required
        </div>
      </div>

      <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" class="form-control" id="summary"
               [(ngModel)]="model.postSummary" name="summary"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Summary is required
        </div>
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content"
               [(ngModel)]="model.postContent" name="content"
               #name="ngModel" style="padding-bottom: 15%"></textarea>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Content is required
        </div>
      </div>
      <button type="submit" class="btn btn-success"
              [disabled]="!postForm.form.valid" (click)="onUpdate()"
              [routerLink]="['/users/posts/', userId]">Update Post</button>
      <button type="submit" class="btn btn-danger" (click)="onDelete()">Delete Post</button>
    </form>
    <div>
      <app-tag-form></app-tag-form>
      <app-tags></app-tags>
    </div>
  </div>

  <div [hidden]="!deleted">Your post has been deleted</div>
  <div [hidden]="creator">
    <h1 style="color: crimson">You can't edit someone else's post</h1>
  </div>
</div>

