<div class="container">
  <div [hidden]="submitted">
    <h1>Post Form</h1>
    <form (ngSubmit)="onSubmit()" #postForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="model.postTitle" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Title is required
        </div>
      </div>

      <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" class="form-control" id="summary"
               [(ngModel)]="model.postSummary" name="summary"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Summary is required
        </div>
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content"
                  [(ngModel)]="model.postContent" name="content"
                  #name="ngModel" style="padding-bottom: 15%"></textarea>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Content is required
        </div>
      </div>
      <div class="form-group">
        <label for="exampleSelect2">Example multiple select</label>
        <select multiple="" class="form-control" id="exampleSelect2">
          <option *ngFor="let tag of tags">{{tag.tagName}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="newPost(); postForm.reset()">Clear Form</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You have submitted your post successfully!</h2><br/>
      <h1>{{model.postTitle}}</h1><br/>
      <h3>{{model.postSummary}}</h3><br/>
      <h4>{{model.postContent}}</h4>
      <p>Tags:</p>
      <div *ngFor="let tag of model.tagsSet">
        <p>{{tag.tagName}}</p>
      </div>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
