<div>
  <img src="../assets/images/Logo.png" alt="GenericPlaceHolder" class="float-left img-fluid"
       style="height:15vw; padding-left:10%"/><br/>
  <h2 style="padding-top:4%; padding-left:30%; color:#0A96B2; font-size: 5vw">Welcome to WhatThe <span style="color:#28DA05">Tek!</span></h2>
  <button type="button" class="btn btn-primary" [routerLink]="['/users']">Users</button>
  <button type="button" class="btn btn-success" [routerLink]="['/users/createPost']">Create Post</button>

  <div>
    <br/>  <br/>
    <div class="container" *ngFor="let post of posts">
      <div class="card border-success mb-3 clickable" [routerLink]="['/post/'+ post.postID]" style="max-width: 30vm;">
        <div class="card-header" style="font-size: 3vmin">{{post.postTitle}}</div>
        <div class="card-body">
          <h4 class="card-title">{{post.postSummary}}</h4>
          <p class="card-text">{{post.postContent.substring(0, 500) + '...'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
