<div>
  <img src="../assets/images/Logo.png" alt="GenericPlaceHolder" class="float-left img-fluid"
       style="height:15vw; padding-left:10%"/><br/>
  <h2 style="padding-top:4%; padding-left:30%; color:#0A96B2; font-size: 5vw">Welcome to WhatThe <span style="color:#28DA05">Tek!</span></h2>
  <button type="button" class="btn btn-success btn-block" [routerLink]="['/users/createPost']">Create Post</button>
  <button type="button" class="btn btn-primary btn-block" [routerLink]="['/users']">Users</button> <br/>
</div>
<app-tags [totalPosts]="totalPosts" (filter)="onFilter($event)"></app-tags>
<div>
  <br/>  <br/>
  <app-post-list [posts]="posts"></app-post-list>
</div>


