<div class="jumbotron" style="margin: 2% 5% 0% 5%; ">
  <h1 style="font-size: 7vmin; margin-top: -5vmin">{{post.postTitle}}</h1><br/>
  <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngFor="let tag of tags">
    <button class="btn btn-outline-primary">#{{tag}}</button>
  </div>
  <div [routerLink]="['/users/posts/', post.creator.id]">By: {{post.creator.name}}</div>
  <div>Posted Date: {{post.createdDate}}</div>
  <h3>{{post.postSummary}}</h3><br/>
  <img src={{imageUrl}} alt="PlaceHolder" class="rounded-circle" height="80">
  <div>{{post.postContent}}</div>
</div>
<div style="margin: 0 10% 5% 10%">
  <app-comment-form></app-comment-form>
</div>

<div [ngStyle]="{background: 'url(imageUrl)'}"></div>
