<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Post Title</th>
      <th>Post Summary</th>
      <th>Post Content</th>
      <th>Post Author</th>
    </tr>
    <tr class="clickable" *ngFor="let postObj of post" [routerLink]="['users/posts/', postObj.id]">
      <td>
        {{postObj.title}}
      </td>
      <td>
        {{postObj.summary}}
      </td>
      <td>
        {{postObj.content}}
      </td>
      <td>
        {{postObj.author}}
      </td>
      <td>
        {{postObj.getDate()}}
      </td>
    </tr>
  </table>
</div>
