<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-nav-bar></app-nav-bar>
  <img src="../assets/images/Logo.png" alt="GenericPlaceHolder" class="float-left img-fluid"
       style="height:15vw; padding-left:10%"/>
  <h2 style="padding-top:4%; color:#0A96B2; font-size: 5vw">Welcome to WhatThe <span style="color:#28DA05">Tek!</span></h2>
</div>

<router-outlet></router-outlet>

<div>
  <app-tag-form></app-tag-form>
  <app-tags></app-tags>
</div>
