
<div style="background: aliceblue; border-radius: 5px">
  <div class="list-group" *ngFor="let comment of comments">
    <div [routerLink]="['/users/posts/', comment.user.id]">
      <span [hidden]="comment.user.name !== creator">
        <i style="margin-left: 1em" class="fa fa-edit" (click)="onUpdate()"></i>
        <i style="color: crimson" class="fa fa-trash" (click)="onDelete(comment.commentId)"></i>
      </span>
      {{comment.user.name}}:
    </div>
    <div class="list-group-item">
      {{comment.comments}}
    </div>
  </div>
</div>

<button type="button" class="btn btn-success btn-sm" (click)="onClick()">Add Comment</button>
<div [hidden]="!showing" class="form-group">
  <textarea placeholder="Enter New Comment" class="form-control" id="comment" rows="3" [(ngModel)]="model.comments" name="comments"></textarea>
  <button type="button" class="btn btn-success" (click)="onClickAdd()">Submit Comment</button>
</div>
