
<!-- MUST READ -->
<!-- (need to install npm install --save @angular/material @angular/cdk @angular/animations -->
<!--<button (click)="onDelete(tag)" class="del">x</button>-->

<button class="btn-primary" style="top: 0; width: 25%; position: sticky; float: left; z-index: 3;"  (click)="changeShowing()">Tags</button>

  <!-- Sidebar -->
<nav id="sidebar" [hidden]="!showing">
  <div class="sidebar-header">
  </div>
  <div *ngFor="let tag of tags">
  <mat-checkbox (click)="onToggle(tag.tagName)">
    {{tag.tagName}}
  </mat-checkbox>
  </div>
</nav>



