
<!-- MUST READ -->
<!-- (need to install npm install --save @angular/material @angular/cdk @angular/animations -->
<!--<button (click)="onDelete(tag)" class="del">x</button>-->
<button class="btn btn-light" [hidden]="showing" (click)="changeShowing()">Tags</button>
  <!-- Sidebar -->
<div id="alert" class="alert alert-dismissible alert-success" [hidden]="!showing">
  <button type="button" class="ex" (click)="changeShowing()"><i class="fa fa-times"></i></button>
  <div *ngFor="let tag of tags">
    <mat-checkbox (change)="changeFiltered(tag.tagName, $event)">
      {{tag.tagName}}
    </mat-checkbox>
  </div>
</div>



