@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


#alert {
  top: 0; position: sticky; height: 100%; z-index: 2; float: left;
  background: #5CCC5E;
  color: #fff;
  transition: all 0.3s;
  padding: 1% 1% 1% 1%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0392B5 !important;
}

::ng-deep .mat-ripple-element {
  background: #0392B5 !important;
}

button.btn {
  top: 0; width: 15%; position: sticky; float: left; z-index: 2; background-color: #5CCC5E; color: white;
}

.btn:focus {
  outline: none;
}

button.ex {
  color: #0392B5;
  position: absolute;
  top: 0;
  padding: 0;
  right: 0;
}




